#containerMap{
    height: 50vh;
    width: 82vw;
    /* height: 80vh;
    width: 40vw; */
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
}

#deckgl-wrapper{
    background-color: rgb(135, 165, 252);
}